<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../Static/JS/about.js"></script>
</head>

<!--SIDEBAR-->
<body>
<header id="header-index">
    <h1>LifeSpot - о проекте</h1>
    <p>На сайте представлены прямые трансляции с улиц различных городов мира.</p>
    <p>Все видео взяты из открытых источников, в настоящее время — с платформы YouTube.</p>
    <p>Здесь можно оставить отзыв о сайте.</p>
</header>

<div id="reviews" class="reviews">
    <div class="review-button">
        <button onclick="getReview()">Оставить отзыв</button>
    </div>
</div>
</body>
<!--FOOTER-->

</html>