<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" defer src="../Static/JS/testing.js"></script>
</head>

<body>
<!--SIDEBAR-->
<header id="header-index">
    <h1>LifeSpot - Test Page</h1>
    <div>
        <img src="https://fikiwiki.com/uploads/posts/2022-02/1644845170_28-fikiwiki-com-p-nyashnie-kotiki-milie-kartinki-29.jpg" width="150">
        <h1>Valeriia</h1>
        <h2>FullStack Software Developer</h2>
        <p>Welcome to my page!</p>
        <a href="https://www.linkedin.com/in/valeriiapeskova" target="_blank">LinkedIn</a>
    </div>
</header>
<script src="index.js"></script>
</body>

</html>
